
h1 {
    font-size: 50px;
    background-color: coral;
    display:inline;
    max-width: 600px;
    padding: 20px;
    text-align: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.getStylin {
    font-size: 30px;
    max-width: 600px;
    text-align: center;
    color: white;
    display:inline;
}

.travelDeets {
    margin-right: 80px;
}

.FinalPageJumbotron  {
    margin-bottom: 300px;
    height: 120px;
}

.FinalPageJumbotron .FinalPageJumbotroncontainer {
    background: url("/images/sunset.JPG") 100%;
    padding-bottom: 50px;

}

@media screen and (max-width: 701px) { 
  
    h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 628px) { 
  
    h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 520px) { 
  
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 400px) { 
  
    h1 {
        font-size: 50px;
        margin-top: -50px;
    }
}

